### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

build
.gradle
.idea/

.mvn/

kafka1
kafka2
kafka3

zookeeper1
zookeeper2
zookeeper3

confluentinc-kafka-connect-jdbc-10.7.3
connect.properties

target/

!**/src/main/**/target/
!**/src/test/**/target/